@model dynamic

@{
    ViewBag.Title = "S3";
}
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />
<script type="text/javascript" src="/DataTables/datatables.min.js"></script>

<h2>S3</h2>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#create" data-toggle="tab">Create Volume</a></li>
        <li><a href="#stop" data-toggle="tab">Attach Volume</a></li>
        <li><a href="#start" data-toggle="tab">Delete Volume</a></li>
    </ul>
</div>

<table id="table2" class="table table-bordred table-striped">
    <thead>
        <tr>
            <th>Volume ID</th>
            <th>InstanceAttached<th>
            <th>Size</th>
            <th>Volume Type</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var volume in Model.volumes.Volumes)
        {
            <tr>
                <td>@volume.VolumeId</td>
                <td>@volume.Attachments[0].InstanceId<td>
                <td>@volume.Size</td>
                <td>@volume.VolumeType</td>
                <td>@volume.State</td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    $('#table2').DataTable();
</script>
