@model dynamic
@using WebMatrix.Data;

@{
    var db = Database.Open("DefaultConnection");
    var selectQueryString = "SELECT * FROM ScheduledServer";
}
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />
<script type="text/javascript" src="/DataTables/datatables.min.js"></script>

<h2>EC2</h2>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" data-target="#modalcreate" data-toggle="modal">Create Instance</button>
    <button type="button" class="btn btn-default" data-target="#modaldelete" data-toggle="modal">Delete Instance</button>
    <button type="button" class="btn btn-default" data-target="#modalstart" data-toggle="modal">Start Instance</button>
    <button type="button" class="btn btn-default" data-target="#modalstop" data-toggle="modal">Stop Instance</button>
    <button type="button" class="btn btn-default" data-target="#modalpassword" data-toggle="modal">Retrieve Password</button>
    <!-- Bootstrap doesnt scale well without using span-->
    <br>
    <br>
    <br>
    <br>
</div>
<table id="table" class="table table-bordred table-striped">
    <thead>
        <tr>
            <th>Instance Name</th>
            <th>Instance ID</th>
            <th>Launch Time</th>
            <th>Instance Type</th>
            <th>State</th>
            <th>Public Ip</th>
            <th>Zone</th>
            <th>Schedule</th>
        </tr>
    </thead>
    @{int totalcount = Model.instances.Reservations.Count;}
    <tbody>
        @for (var i=0; i <= totalcount - 1; i++)
        {
            foreach (var instances in Model.instances.Reservations[i].Instances)
            {
            <tr>
                @* if an instance gets terminated and has no name it will show up as blank and stop the describe call from breaking *@
                @if (instances.Tags.Count > 0)
                {
                <td>
                    @instances.Tags[0].Value
                </td>
                }
                else
                {
                    <td>No Name</td>
                }
                <td>@instances.InstanceId</td>
                <td>@instances.LaunchTime</td>
                <td>@instances.InstanceType</td>
                <td>@instances.State.Name</td>f
                <td>@instances.PublicIpAddress</td>
                <td>@instances.Placement.AvailabilityZone</td>
                @foreach (var row in db.Query(selectQueryString))
                {
                    if(instances.InstanceId == row.ServerId)
                    {
                        <td>@row.ScheduleName</td>
                    }
                }
            </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#table').DataTable();
</script>

@if (ViewBag.Message != null)
{
    <script>
        $(document).ready(function ()
        {
        alert('@ViewBag.Message');
        });
    </script>
}


<div class="container">
    <div class="modal fade" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">Create a New Instance</h4>
                </div>

                <div class="modal-body" style="text-align: center">
                    <div class="row">
                        <div class="modal-body" style="text-align: center">
                            <form action="/Home/CreateInstance/" method="POST">
                                <div class="form-group">
                                    <label for="amiId">AMI ID:</label>
                                    <select class="form-control text-center" name="amiId" id="amiId" style="margin: 0 auto">
                                        <option>ami-8519a9f6</option>
                                        <option>ami-8b8c57f8</option>
                                    </select>
                                    <label for="instanceName">Instance Name:</label>
                                    <input name="instanceName" class="form-control text-center" type="text" placeholder="WebServer01" style="margin: 0 auto">
                                    <label for="keyPairName">Key Pair Name:</label>
                                    <input name="keyPairName" class="form-control text-center" type="text" placeholder="Conners Key" style="margin: 0 auto">
                                    <label for="instanceType">InstanceType:</label>
                                    <select class="form-control text-center" name="instanceType" id="instanceType" style="margin: 0 auto">
                                        <option>T2Micro</option>
                                    </select>
                                    <label for="minCount">Minimum Instance Number:</label>
                                    <input name="minCount" class="form-control text-center" type="number" placeholder="1" style="margin: 0 auto">
                                    <label for="maxCount">Maximum Instance Number:</label>
                                    <input name="maxCount" class="form-control text-center" type="number" placeholder="1" style="margin: 0 auto">
                                    <label for="groups">Security Groups Attached:</label>
                                    <select class="form-control text-center" name="group" id="groups" style="margin: 0 auto">
                                        @foreach (var groups in Model.groups)
                                        {
                                        <option>@groups.GroupName</option>
                                        }
                                    </select>            
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="deleteInstance" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">Delete a instance</h4>
                </div>

                <div class="modal-body" style="text-align: center">
                    <div class="row">
                        <div class="modal-body" style="text-align: center">
                            <form action="/Home/DeleteInstance/" method="POST">
                                <div class="form-group">
                                    <p>Be sure to double check your Id before deletion</p>
                                    <label for="instanceId">InstanceId:</label>
                                    <select class="form-control text-center" name="instanceId" id="groups" style="margin: 0 auto">
                                        @for (var i = 0; i <= totalcount - 1; i++)
                                        {
                                            foreach (var instances in Model.instances.Reservations[i].Instances)
                                            {
                                            <option>@instances.InstanceId</option>
                                            }
                                        }
                                    </select>           
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="modalstart" tabindex="-1" role="dialog" aria-labelledby="startInstance" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">Start a instance</h4>
                </div>

                <div class="modal-body" style="text-align: center">
                    <div class="row">
                        <div class="modal-body" style="text-align: center">
                            <form action="/Home/StartInstance/" method="POST">
                                <div class="form-group">
                                    <p>Be sure to double check your Id before booting</p>
                                    <label for="instanceId">InstanceId:</label>
                                    <select class="form-control text-center" name="instanceId" id="groups" style="margin: 0 auto">
                                        @for (var i = 0; i <= totalcount - 1; i++)
                                        {
                                            foreach (var instances in Model.instances.Reservations[i].Instances)
                                            {
                                                <option>@instances.InstanceId</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Start</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="modalstop" tabindex="-1" role="dialog" aria-labelledby="stopInstance" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">Stop a instance</h4>
                </div>

                <div class="modal-body" style="text-align: center">
                    <div class="row">
                        <div class="modal-body" style="text-align: center">
                            <form action="/Home/StopInstance/" method="POST">
                                <div class="form-group">
                                    <p>Be sure to double check your Id before stopping</p>
                                    <label for="instanceId">InstanceId:</label>
                                    <select class="form-control text-center" name="instanceId" id="groups" style="margin: 0 auto">
                                        @for (var i = 0; i <= totalcount - 1; i++)
                                        {
                                            foreach (var instances in Model.instances.Reservations[i].Instances)
                                            {
                                                <option>@instances.InstanceId</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Stop</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="modalpassword" tabindex="-1" role="dialog" aria-labelledby="stopInstance" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">Get a Password</h4>
                </div>

                <div class="modal-body" style="text-align: center">
                    <div class="row">
                        <div class="modal-body" style="text-align: center">
                            <form action="/Home/GetPassword/" method="POST">
                                <div class="form-group">
                                    <p>Be sure to double check your Id before decryption</p>
                                    <label for="instanceId">InstanceId:</label>
                                    <select class="form-control text-center" name="instanceId" id="groups" style="margin: 0 auto">
                                        @for (var i = 0; i <= totalcount - 1; i++)
                                        {
                                            foreach (var instances in Model.instances.Reservations[i].Instances)
                                            {
                                                <option>@instances.InstanceId</option>
                                            }
                                        }
                                    </select>
                                    <label for="Private Key">PrivateKey:</label>
                                    <textarea class="form-control text-center" rows="23" cols="76" name="privateKey" id="privateKey" style="margin: 0 auto">                                    
                                    </textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Decrypt</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>